* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #72fc02;
}
.virtual-keyboard {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right bottom,
    rgb(88, 174, 50),
    rgb(1, 16, 34)
  );
  text-align: center;
  padding-top: 10px;
}
.title {
  margin-bottom: 25px;
}
.text-area {
  width: 700px;
  border-radius: 5px;
  padding: 10px;
  color: #000000;
}
.keyboard {
  width: 700px;
  margin: auto;
  margin-bottom: 15px;
  padding: 8px 0px 8px 8px;
  border: 5px solid #000000;
  background: linear-gradient(
    to right bottom,
    rgb(15, 255, 99),
    rgb(30, 99, 184)
  );
  border-radius: 5px;
  overflow: hidden;
}
.keyboard-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}
.keyboard-key {
  width: 40px;
  border-radius: 5px;
  height: 40px;
  color: #ffffff;
  background: #444444;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  margin-right: 5px;
  user-select: none;
  transition: all 0.5s ease;
}
.keyboard-key:hover {
  background: #7e3b3b;
}
.active {
  background: #fc0202;
  border-radius: 25px;
}
.Backspace {
  width: 100px;
}
.CapsLock,
.Enter,
.ShiftLeft,
.ShiftRight {
  width: 100px;
}
.Tab,
.Delete {
  width: 50px;
}
.Space {
  width: 330px;
}
